.dashBoardSideBarDiv_sideBar {
  position: sticky;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  top: 0;
  border-right: solid 1px #30343b;
  padding-right: 2em;
}
.dashBoardSideBarDiv_sideBar_div__active {
  display: flex;
  align-items: center;
  background: #7b3dc9;
  padding: 12px 12px;
  width: 200px;
  border-radius: 6px;
  box-shadow: 0px 0px 10px #000000;
  cursor: pointer;
  color: #ffffff;
}
.dashBoardSideBarDiv_sideBar_div {
  display: flex;
  align-items: center;
  padding: 12px 12px;
  width: 180px;
  border-radius: 6px;
  cursor: pointer;
  color: #897f96;
  text-decoration: none;
}
/* .dashBoardSideBarDiv_sideBar_div__active:hover {
  color: var(--default_green_color);
} */
.dashBoardSideBarDiv_sideBar_div:hover {
  color: #fff;
}
.dashBoardSideBarDiv_sideBar_div__active .dashBoardSideBarDiv_sideBar_div_icon {
  font-size: 25px !important;
  fill: rgb(205 164 255);
  color: #fff !important;
}
.dashBoardSideBarDiv_sideBar_div_icon {
  font-size: 25px !important;
}
.dashBoardSideBarDiv_sideBar_div_txt {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
}
.dashBoardSideBarDiv_sideBar_div_last {
  display: flex;
  align-items: center;
  padding: 12px 12px;
}

.dashBoardSideBarDiv_sideBar_div_last_icon {
  color: #ff4444 !important;
}
.dashBoardSideBarDiv_sideBar_div_last_txt {
  font-size: 18px;
  font-weight: 700;
  margin-left: 10px;
  color: #ff4444;
}
@media screen and (max-width: 999px) {
  .dashBoardSideBarDiv_sideBar {
    justify-content: space-between;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: row;
    gap: 0;
    bottom: 0;
    top: auto;
    border-right: none;
    padding-right: 0;
    width: -webkit-fill-available;
    padding: 0.5em 0em;
    background: #14181f;
    /* box-shadow: 0px 0px 10px #e7e7e7; */
    border-top: solid 1px #282d35;
    z-index: 2;
  }
  .dashBoardSideBarDiv_sideBar_div__active {
    display: flex;
    align-items: center;
    background: none;
    padding: 5px 5px;
    width: -webkit-fill-available;
    border-radius: 6px;
    box-shadow: none;
    cursor: pointer;
    color: #ffffff;
    flex-direction: column;
    align-items: center;
  }
  .dashBoardSideBarDiv_sideBar_div__active
    .dashBoardSideBarDiv_sideBar_div_icon {
    font-size: 16px !important;
    width: 20px;
  }
  .dashBoardSideBarDiv_sideBar_div_txt {
    margin-left: 0;
    font-size: 12px;
    font-weight: 500;
    margin-top: 2px;
    /* display: none; */
    text-align: center;
  }
  .dashBoardSideBarDiv_sideBar_div {
    display: flex;
    align-items: center;
    padding: 5px 5px;
    width: -webkit-fill-available;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    align-items: center;
    flex-direction: column;
  }
  .dashBoardSideBarDiv_sideBar_div_icon {
    font-size: 25px !important;
    width: 20px;
  }
  .dashBoardSideBarDiv_sideBar_div_last {
    display: none;
  }
}
