.header_div {
  position: sticky;
  z-index: 100;
  width: 100%;
  background: #000000;
  color: #ffffff;
  backdrop-filter: blur(20px);
  top: 0;
  left: 0;
  padding: 1em 0em;
  border-bottom: none;
}
.header_div_area_1_span {
  color: #9946ff;
  margin-left: 2px;
}
.header_div_area_1_div1 {
  width: 40px;
  height: -webkit-fill-available;
  position: relative;
  margin-right: 10px;
  justify-content: center;
  display: flex;
  margin-bottom: 9px;
}
.header_div_area_1_img {
  width: 100%;
  margin-right: 0px;
  margin-bottom: 0px;
}
.header_div_area_1_img_anima {
  position: absolute;
  width: 35px;
  left: 20%;
  top: 10%;
  animation: rotatecube 3s linear infinite;
}
@keyframes rotatecube {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.Airdrop_head_btn2 {
  width: 150px;
  padding: 15px;
  border-radius: 10px;
  border: none;
  background: #ffffff;
  /* background: linear-gradient(45deg, #7638ba, #c355cd); */
  color: #52347c;
  font-weight: 500;
  margin-left: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
.Airdrop_head_btn {
  margin-left: 1em;
  padding: 15px 10px;
  width: 150px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  background: linear-gradient(45deg, #7638ba, #c355cd);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
.Airdrop_head_btn_icon {
  margin-left: 10px;
}
.header_social_links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0em;
}
.header_social_links .footerDiv1_area1_cont2_links_link_tel {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 0px;
  /* background: #ff562330; */
  padding: 0px;
  border-radius: 19px;
  /* border: solid 1px #ff5623; */
  width: 40px;
}
.header_div_relative {
  width: 100%;
  color: #fff;
  background: #0000;
  padding: 2em 0em;
  z-index: 10000;
  position: absolute;
  top: 0;
}
.header_partial_div {
  color: #ffffff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0px;
  /* background: linear-gradient(45deg, #2fa277, #0b4727); */
  background: #9dffdb;
  background: #329745;
  font-size: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.header_partial_div_btn {
  margin-left: 2em;
  padding: 13px 7px;
  width: 150px;
  border-radius: 50px;
  border: none;
  font-weight: 500;
  background: #fff;
  color: #153c37;
  font-size: 18px;
}
.header_div_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_div_area_1 {
  font-size: 34px;
  font-weight: 600;
  display: flex;
  align-items: center;
  color: #ffffff;
}
/* .header_div .header_div_area_1 {
  font-size: 32px;
  font-weight: 600;
  display: flex;
  align-items: center;
  color: #000;
} */
/* .header_div_area_1_img {
  width: 60px;
  margin-right: 6px;
  margin-bottom: 5px;
} */
.header_div_area_2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_div_area_2_link1 {
  margin-left: 2em;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
}
/* .header_div .header_div_area_2_link1 {
  color: #000000;
} */
.header_div_area_2_link1_icon {
  font-size: 16px !important;
}
.header_div_area_2_link1:hover {
  color: #3cd19a;
}
.header_div_area_2_menu_icon {
  display: none !important;
}
.headerMenuDiv {
  display: none;
}

.header_div_area_2_btn {
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 50px;
  background: #7a3abc;
  font-size: 14px;
  font-weight: 500;
  border: none;
  color: #fff;
  margin-left: 2em;
}
.header_div_area_2_btn_img {
  width: 25px;
  margin-left: 3px;
  background: #fff;
  border-radius: 50%;
}
.header_div_area_2_btn2 {
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 50px;
  background: #ffffff;
  font-size: 14px;
  font-weight: 500;
  border: none;
  margin-left: 10px;
}
.header_div_area_2_btn2_img {
  width: 21px;
  margin-left: 3px;
  padding: 3px;
}
.header_div_area_2_div {
  position: relative;
  /* display: flex; */
  /* align-items: center; */
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-content: space-between; */
  cursor: pointer;
  margin-right: -33px;
}
.header_div_area_2_div:hover {
  color: #3cd19a;
}
.header_div_area_2_div_icon {
  margin-left: 2px;
  font-size: 24px !important;
  transition: all 0.3s linear;
}
.header_div_area_2_div_drop {
  display: none;
  position: absolute;
  top: 23px;
  right: -44px;
  background: #000000;
  padding: 15px;
  width: 400px;
  border-radius: 20px;
  border: solid 1px #292929;
  flex-direction: column;
}
.header_div_area_2_div:hover .header_div_area_2_div_drop {
  display: flex;
}
.header_div_area_2_div:hover .header_div_area_2_div_icon {
  transform: rotate(180deg);
  transition: all 0.3s linear;
}
.header_div_area_2_div_drop .header_div_area_2_link1 {
  margin: 0;
  /* border-bottom: solid 1px #2d2d2d; */
  padding: 10px;
  cursor: pointer;
  color: #bdbdbd;
  display: flex;
  align-items: center;
  font-size: 18px;
}
.header_div_area_2_div_drop .header_div_area_2_link1:hover {
  color: #3cd19a;
  background: #3cd19a29;
  border-radius: 10px;
}
.header_div_area_2_link1Img {
  width: 25px;
  margin-right: 10px;
  background: #55555578;
  padding: 10px;
  border-radius: 10px;
}

.header_div_area_2_div_drop
  .header_div_area_2_link1
  .header_div_area_2_link1_icon {
  font-size: 25px !important;
  margin-bottom: 4px;
  margin-right: 10px;
  background: #55555578;
  padding: 10px;
  border-radius: 7px;
  color: #fff;
}
.header_div_area_2_btn2_div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
  /* width: 100%; */
}
.header_div_area_2_btn2_div span {
  font-size: 9px;
  color: #212121;
}
/* ================= */
/* ================= */
/* ================= */
/* ================= */
/* ================= */
/* ================= */
/* ================= */
/* ================= */
/* ================= */
/* ================= */

/* ================= */
/* ================= */
/* ================= */
/* ================= */
/* ================= */
/* ================= */
.Airdrop_head_btn_mobile {
  display: none;
}
@media (max-width: 999px) {
  /* .Airdrop_head_btn {
    display: none;
  } */
  .Airdrop_head_btn_mobile {
    margin-bottom: 5em;
    padding: 15px 10px;
    width: 100%;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    background: #fff;
    border: none;
    color: #000;
    display: block;
  }
  .header_div_area_2_div {
    display: none;
  }
  .header_div_area_1_img {
    width: 35px;
    margin-right: 6px;
    margin-bottom: 5px;
  }
  .header_div_area_2 .header_div_area_2_btn {
    display: none;
  }
  .header_div_area_2 .header_div_area_2_btn2 {
    display: none;
  }
  .header_div_area_1 {
    font-size: 28px;
  }
  .header_div_area_2_link1 {
    display: none;
  }
  .header_div_area_2_menu_icon {
    display: block !important;
    font-size: 38px !important;
    color: #dafff1;
    cursor: pointer;
  }
  .headerMenuDiv {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    background: #000000d9;
    display: flex;
    justify-content: flex-end;
    /* backdrop-filter: blur(5px); */
  }
  .headerMenuDiv_cont {
    height: -webkit-fill-available;
    width: 100%;
    max-width: 400px;
    padding: 1em 1em;
    /* background: grey; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: linear-gradient(178deg, #2f4d4bb5, #344948b3);
    backdrop-filter: blur(3px);
  }
  .headerMenuDiv_cont_body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: -webkit-fill-available;
    margin-top: 1em;
    overflow: auto;
  }
  .headerMenuDiv_cont_body_link1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1em 0em;
    color: #fff;
    font-size: 20px;
  }
  .headerMenuDiv_cont_1_icon {
    /* display: block !important; */
    font-size: 38px !important;
    color: #dafff1;
    cursor: pointer;
  }
  .headerMenuDiv_cont_body .headerMenuDiv_cont_body_div {
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 100%;
  }
  .headerMenuDiv_cont_body .headerMenuDiv_cont_body_div .header_div_area_2_btn {
    margin: 0;
  }
  .header_partial_div {
    padding: 10px 20px;
    font-size: 18px;
    width: -webkit-fill-available;
  }
  .header_partial_div_btn {
    margin-left: 1em;
    padding: 13px 7px;
    width: 120px;
    border-radius: 50px;
    border: none;
    font-weight: 500;
    font-size: 14px;
  }

  .Airdrop_head_btn2 {
    width: 80px;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding: 1em;
  }
  .Airdrop_head_btn_icon {
    margin-left: 3px;
    font-size: 14px !important;
  }
  .Airdrop_head_btn {
    margin-left: 5px;
    padding: 1em;
    width: 80px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
}
/* @media (max-width: 600px) {} */
